html, body, #map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map{
  position: relative;
}

#searchbox {
  position:absolute;
  top:20px;
  display: inline-block;
  left:25%;
  z-index: 100;
  width: 50%;
  text-align: center;
}


#addressInput {
  font-size: 20px;
  height:45px;
  width:100%;
}

#checkboxes {
  display: block;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 20px;
  background-color: white;
  box-shadow: black 1px;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
}


#legend {
  /* width: 300px; */
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  background-color: white;
  box-shadow: black 1px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
}

#legend_2 {
  /* width: 300px; */
  /* position: fixed; */
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 15px;
  text-align: left;
}

#legend-container{
  padding: 15px 15px;
}

#key-symbol-1{
  height: 25px;
  width: 25px;
  /* 0, 112, 255 */
  border: 2px rgb(0, 112, 255) solid;
  background-color: rgb(0, 112, 255);
  -webkit-print-color-adjust: exact;

  /* 247, 112, 8 */
}

#key-symbol-2{
  height: 25px;
  width: 25px;
  border: 2px rgb(225, 85, 0) solid;
  background-color: rgb(225, 85, 0);
  -webkit-print-color-adjust: exact;
  position: relative;
}

.dot-inside{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px rgb(0, 0, 0) solid;
  background-color: rgb(0, 0, 0);
  -webkit-print-color-adjust: exact;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#key-symbol-3{
  -webkit-print-color-adjust: exact;
  height: 25px;
  width: 25px;
  border: 2px black solid;
  background-color: rgb(145, 143, 143)
}

.esriPopupWrapper .maximize {
  display: none;
}
.esriPopupWrapper .sizer{
  width: 300px;
  /* height: 150px; */
}
.esriPopupWrapper 

#key-symbol-4{
  height: 25px;
  width: 29px;
}

#printTitle{
  text-align: center;
  font-family: arial;
  font-size: 20px;
}


.legend-element{
  display: flex;
  position: relative;
}



#key-phrase-1, #key-phrase-2, #key-phrase-3, #key-phrase-4{
  padding-left: 10px;
  position: relative;
  top: -50%;
}

hr {
    display: block;
    height: 1.5px;
    width: 25px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.print-icon{
  font-size: 40px;
  position: absolute;
  right: 4%;
  top: 2%;
  z-index: 2;
}

#spinnerLargeMap{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.disabledDIV {
  pointer-events: none;
  opacity: 0.4;
}

.titleButton .maximize {
  display: none
}