html, body, #map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


#searchbox {
  position:absolute;
  top:20px;
  display: inline-block;
  left:25%;
  z-index: 100;
  width: 50%;
  text-align: center;
}


#addressInput {
  font-size: 20px;
  height:45px;
  width:100%;
}

#checkboxes {
  display: block;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 20px;
  background-color: white;
  box-shadow: black 1px;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
}


#legend {
  /* width: 300px; */
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  background-color: white;
  box-shadow: black 1px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 18px;
  text-align: left;
}

#legend-container{
  padding: 15px 15px;
}

#key-symbol-1{
  height: 25px;
  width: 25px;
  /* 0, 112, 255 */
  background-color: rgb(0, 112, 255);
  /* 247, 112, 8 */
}

#key-symbol-2{
  height: 25px;
  width: 25px;
  /* 0, 112, 255 */
  background-color: rgb(247, 112, 8);
  /* 247, 112, 8 */
}

#legend-element-1, #legend-element-2{
  display: flex;
  position: relative;
}

#key-phrase-1, #key-phrase-2{
  padding-left: 10px;
  position: relative;
  top: -50%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
